
.card {
    min-height: 380px;  
    /* width: 30%;  */
    margin: 10px;
    padding: 10px;
    /* border: none; */
}

.row {
    padding: 20px;
}

.tablePage {
    background-color: #fae6ff;
}

/* removed from a div class  style={{ color: "#eee", }}  */