
.card {
    min-height: 380px;  
    /* width: 30%;  */
    margin: 5px;
    padding: 5px;
    /* border: none; */
}

.buttonRow {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    margin: auto;
    border: 1px solid #a1499c;
    box-shadow: 2px 2px 2px #a1499c;
    margin-bottom: 10px;
    /* color:gray; */
}

.tablePage {
    background-color: #fae6ff;
}

.table {
    text-align: center;
}


.resetButton {
    height: 37px;
    border-radius: 5px;
    color: gray;
}

.row {
    /* display: flex; */
    /* flex-flow: center; */
    justify-content: center;
}

body {
    background-image: 'lemonBallSedum2.jpg'
}
