.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    /* inline-block; */
    color: #f2f2f2;
    padding-left: 10px;
    padding-top: 40px;
}

.nav {
  overflow: hidden;
  background-color: #a1499c;
  height: 200px;
  opacity: 1.0;
  background-image:url('../../images/lemonBallSedum2.jpg');
  background-size: cover;

}

#logo { 
  float: left;
  margin: 40px;
  /* vertical-align: middle; */
}

.nav-link.active{
  color: #eb99ff;
}

.nav-link {

  /* display: flex; */
  float: right;
  color: #ffffff;
  background-color: Transparent !important;
  /* text-align: center; */
  padding: 20px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}



.nav-link:hover {
  background-color: none;
  /* color: #a1499c */
  color: #cccccc;

}

.nav-right {
  float: right;
}